<IfModule mod_rewrite.c>
    RewriteEngine On
    #Options +Followsymlinks
    #RewriteBase /

    RewriteCond %{HTTPS} !on
    RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
    
    RewriteRule ^cp/styles.css$     styles/styles.css
    RewriteRule ^styles.css$        styles/styles.css
</IfModule>